{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
<div class="row">
  <div class="card w-100 p-0">
    <div class="card-body">
      <h5 class="card-title sub-headings">Log in through Facebook</h5>
      <p class="card-text info-text">You can use your Facebook book account to quickly signup and login</p>
      <a title="{{provider.name}}" id="fb-btn" class=" btn btn-primary socialaccount_provider {{provider.id}}" 
       href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="fab fa-facebook-square"></i>{{provider.name}}</a>
    </div>
  </div>
</div>
{% endfor %}