{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'donation/css/donate.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
   <div class="row d-flex justify-content-center">
      <div class="row d-flex justify-content-center">
         <span class="border-arrow-down-index left mt-0"></span>
      </div>
      <div class="row top-heading">
         <div class="col-12 mb-3 text-center">
            <h2 class="headings">Donate</h2>
            <i class="fas fa-dog headings"></i>
         </div>
      </div>
      <div class="col-11 donate-bg mt-5 mb-4">
         <div class="row justify-content-around mb-5">
            <div class="col-12 col-sm-4 col-md-4 col-lg-3 mt-5 mb-3">
               <P class="info-text text-center">You can make a one off donation using the form provided. If you have not
                  already set up an account you will be asked to do so before you donate.
                  This allows you to keep track of and manage your ongoing payments. This can all be done from your <a
                     href="{% url 'profile' %}">profile page</a>.
               </P>
            </div>
            <span class="border-arrow right d-sm-none d-md-block d-none d-sm-block"></span>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 card-bg payment-card mb-3">
               {% if request.user.is_authenticated %}
               {% csrf_token %}
               <form action="{% url 'checkout' %}" method="POST">
                  {% load crispy_forms_tags %}
                     <label class="info-text" for="amount">Choose Amount:</label>
                    <br>
                    <br>
                     {% crispy amounts %}
                     <p>When You chose amount and click on donate you will be redirected to the payment form.</p>
                  </form>
                  {% else %}
                  <div class="row justify-content-center ">
                     <h4 class="info-text text-center">Please <a href="{% url 'account_signup' %}">signup</a> or simply
                        <a href="{% url 'account_login' %}">login</a> to make a donation.</h4>
                  </div>
                  {% endif %}
            </div>
         </div>
      </div>
   </div>
   <div class="row mb-0 mt-4 row-heading">
      <div class="col-12 my-5 text-center mb-2">
         <h2 class="headings">
            <bold>What your donation means</bold>
         </h2>
         <i class="fas fa-dog headings"></i>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-4 mb-3">
         <img src="{{ MEDIA_URL }}max_test.jpg" class="donate-img w-100" alt="Image of a dog">
      </div>
   </div>
   <div class="row justify-content-center mt-1">
      <div class="col-4 mb-3">
         <h3 class="sub-headings text-center">Animal Housing</h3>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-10 mb-3">
         <p class="info-text text-center text-border">
            Here at PawPatrol we help out those who can no longer look after their pets. People in medical care or
            nursing homes may not be able to bring their fury friends along with them so our trusted team steps in to
            take care of them.
            We provide these animals a nice home to stay in aswell as daily visits to their best friends(owners) where
            ever they may be. We our a non profit organisation and all of our voluteers give up their homes for these
            lost animal out of the kindess of their hearts.
         </p>
      </div>
   </div>
   <hr class="dotted-sml">
   <div class="row justify-content-center mt-5">
      <div class="col-4 mb-3">
         <img src="{{ MEDIA_URL }}Donate_img1.jpg" class="donate-img w-100" alt="Image of a man with a dog">
      </div>
   </div>
   <div class="row justify-content-center mt-1">
      <div class="col-4 mb-3">
         <h3 class="sub-headings text-center">Owner Visits</h3>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-10 mb-3">
         <p class="info-text text-center text-border">
            Here at PawPatrol we help out those who can no longer look after their pets. People in medical care or
            nursing homes may not be able to bring their fury friends along with them so our trusted team steps in to
            take care of them.
            We provide these animals a nice home to stay in aswell as daily visits to their best friends(owners) where
            ever they may be. We our a non profit organisation and all of our voluteers give up their homes for these
            lost animal out of the kindess of their hearts.
         </p>
      </div>
   </div>
   {% endblock %}
   {% block postloadjs %}
   {% endblock %}