{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'donation/css/donate.css' %}">
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div id="box">
			<div class="row">
				<div class="col-6 success-img"></div>
				<div class="col-6 h-50">
					<h4>Thank you for your contribution! <br> You can view your payments on your profile page.</h4>
					<hr>
					<a class="myButton" href="{% url 'donate' %}">&#x2190;Back to donation page</a>
					<p class="center-align mb-0">Or</p>
					<a class="myButton" href="{% url 'profile' %}">&#x2190;Profile/Payment history page</a>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}