{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/animals/css/animals.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <span class="border-arrow-down-index left d-sm-none d-md-block mt-0"></span>
        </div>
        <div class="row top-heading">
            <div class="col-12 my-5 text-center mt-0 mb-2">
                <h2 class="headings"><bold>Animals</bold></h2>
                <i class="fas fa-dog headings"></i>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-11 text-center">
                <p class="info-text">
                    Here at PawPatrol we help out those who can no longer look after their pets. People in medical care or 
                    nursing homes may not be able to bring their fury friends along with them so our trusted team steps in to take care of them.

                   <br>
                    
                    We provide these animals a nice home to stay in aswell as daily visits to their best friends(owners) where ever they may be. We our a non profit organisation
                    and all of our voluteers give up their homes for these lost animal out of the kindess of their hearts.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-5 text-center mb-2">
                <h2 class="headings">Meet Our Friends</h2>
                <i class="fas fa-cat headings"></i>
            </div>
        </div>
        {% for animal in animals %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="row d-flex justify-content-center rounded">
                    <div class="col-10 card mb-4 animal-card">
                        <div class="row g-0">
                            <div class="col-md-4">
                                {% if animal.image %}
                                        <img src="{{ animal.image.url }}" class="card-img-top animals-img" alt="{{ animal.name }}">
                                    {% else %}
                                        <img src="{{ MEDIA_URL }}media/no_image.jpg" class="card-img-top animals-img" alt="{{ animal.name }}">
                                    {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h5 class="card-title sub-headings">{{ animal.friendly_name }}</h5>
                                <p class="card-text info-text">Type: {{ animal.type }}</p>
                                <p class="card-text info-text">Breed: {{ animal.breed }}</p>
                                <p class="card-text info-text"> About:<br> {{ animal.about }}</p>
                                <p class="card-text"><small> <b><a href="{% url 'donate' %}">Donate</a> to to help {{ animal.friendly_name }}</b></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row d-flex justify-content-center">
                    <div class="col-10 card mb-4 animal-card">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body">
                                <h5 class="card-title sub-headings">{{ animal.friendly_name }}</h5>
                                <p class="card-text info-text">Type:{{ animal.type }}</p>
                                <p class="card-text info-text">Breed: {{ animal.breed }}</p>
                                <p class="card-text info-text"> About:<br> {{ animal.about }}</p>
                                <p class="card-text"><small><b><a href="{% url 'donate' %}">Donate</a> to to help {{ animal.friendly_name }}</b></small></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {% if animal.image %}
                                        <img src="{{ animal.image.url }}" class="card-img-top animals-img" alt="{{ animal.name }}">
                                    {% else %}
                                        <img src="{{ MEDIA_URL }}media/no_image.jpg" class="card-img-top animals-img" alt="{{ animal.name }}">
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <footer class="border-top container-fluid">
        <div class="row m-0">
            <div class="col-4">
                <p class=" footer-text text-center mt-2 mb-1">Adress & pawP@testmail.com</p>
            </div>
            <div class="col-4">
                <p class="footer-text text-center mt-2 mb-1">Copyright © PawPatrol 2020</p>
            </div>
            <div class="col-4">
                <ul class="list-inline social-links text-center mt-2 mb-1">
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fab fa-youtube" aria-hidden="true"></i>
                            <span class="sr-only">Youtube</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="">
                            <i class="fab fa-facebook-square" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}