@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Montserrat:wght@400;600&family=Permanent+Marker&display=swap');

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lora', Lato;
    font-style: italic;
    background: #c5d5cb;
}

header{
    background-color: rgba(0, 0, 0, 0.6);
    height: 1vh
}

/* ..................................... Header/Nav */

#logo{
    background-color: #c5d5cb;
    position: absolute;
    border-radius: 50%;
    border: solid 2px black;
    height: 150px;
    width: 300px;
}

.donate-nav{
    background-color: #c5d5cb;
    border: solid 2px black;
    color: #f0ffff;
    font-size: 1rem;
}

.list-inline-item:not(:last-child){
    margin-right: 1rem;
}

.logo-font{
    font-size: 2rem;
    color: #FDF6F6;
}

.paw-logo{
    font-size: 1.7rem;
    color: #f0ffff;
}

.nav-text{
    font-size: 1.2rem;
    font-weight: 700;
    color: #f0ffff;
}

.donate-banner{
    position: absolute;
    top: 40%;
    max-width: 100%;
}

.donate-banner-h{
    font-weight: 700;
    font-size: 3rem;
    font-family: 'PermanentMarker';
    color: #ebebeb;
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
}

.donate-banner-p{
    font-weight: 600;
    font-size: 1.6rem;
    font-family: 'PermanentMarker';
    color: #ebebeb;
    text-shadow:
    0.09em 0 black,
    0 0.09em black,
    -0.09em 0 black,
    0 -0.09em black;
}

.banner-row{
    width: 100%;
}

#topnav{
    background-color: rgba(0, 0, 0, 0.51);
}


.navbar-toggler {
    border: 2px solid black;
    background-color: #c5d5cb;
}

/* ..................................... Slider */

#slider{
    overflow:hidden
}

#slider figure{
    position: relative;
    width: 200%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    width: 50%;
    float: left;
    height: 60vh;
}

@keyframes slider{
    0% {
        left: 0;
    }
    20% {
        left: 0; 
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
}


/* ..................................... Home page */

.headings{
font-family: 'Montserrat';
font-weight: 600;
font-size: 2rem;
color: ;
}

.sub-headings{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.5rem;
    color: #f0ffff;
}

.info-text{
    font-weight: 400;
    font-size: 1.3rem;
    color: #002147;
    text-shadow: 2px 2px #e3e0cf;
}

/* cards */

.card{
    border: solid 2px #9fa8a3;
    box-shadow: 3px 7px #9fa8a3;
}

.card-body{
    background-color:#e3e0cf;
}

.card-bg{
    border: 2px solid #9fa8a3;
    padding: 2rem 6rem 2rem 6rem;
    background-color: #e3e0cf;
    box-shadow: 6px 10px #9fa8a3;
    width: 90%;
}

.card img{
    max-height: 277px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    padding: 0.5rem;
}


.main-logo-link {
    width: fit-content;
    padding-left: 2.5rem;
    padding-top: 2.1rem;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}


/* -------------------------------- Media Queries */

/* @media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  } */

  @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (min-width: 1024px){
    #logo{
        position: fixed;
    }
}

@media (min-width: 1218px){
    .donate-banner{
        top: 30%;
    }
}

@media (max-width: 1200px){
    .donate-banner{
        top: 20%;
    }

    .donate-banner-h{
        font-weight: 700;
        font-size: 1.5rem;
        color: #ebebeb;
        text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    }
    
    .donate-banner-p{
        font-weight: 600;
        font-size: 1rem;
        color: #ebebeb;
        text-shadow:
        0.09em 0 black,
        0 0.09em black,
        -0.09em 0 black,
        0 -0.09em black;
    }
}
  