<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
<ul class="navbar-nav">
  <li class="list-inline-item dropdown nav-item">
      <a class="text-black nav-link d-block d-lg-none nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="text-center">
              <p class="my-0">My Account</p>
          </div>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="user-options">
        <a href="" class="dropdown-item">Page Management</a>
        <a href="" class="dropdown-item">My Profile</a>
        <a href="" class="dropdown-item">Logout</a>
        <a href="" class="dropdown-item">Register</a>
        <a href="" class="dropdown-item">Login</a>
      </div>
  </li>
  <li class="list-inline-item nav-item">
      <a class="nav-link" href="">
          <div class="text-center">
              <p class="my-0">
              </p>
          </div>
      </a>
    </li>
</ul>
</div>