{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="head-post">
                    <img src="/media/main_blog_img.jpg" alt="" class="img-fluid" alt="main-blog-img">
                    <div class="head-post-content">
                        <div class="row">
                            <div class="co-md-3">
                                <img src="/media/jill_test.jpg" alt="Author" class="img-fluid rounded-circle">
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</section>
{% endblock %}