
/* Buttons and links */
.donate-btn {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
button:hover {
  filter: contrast(115%);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* ........................................ Success page */

.success-img{
    background: url('/media/check.png') center no-repeat;
    background-size: contain;
    height: 500px;
}

.bg-red{
    background-color: #fa755a;
}

.myButton {
    background-color:#72cca7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:17px;
    padding:10px;
    width:100%;
    border-radius: 0;
    text-decoration:none;
    text-align: center;
    transition: .3s;
}
.myButton:hover {
    opacity: .6;
}

#box{
    max-width: 700px;
    max-height: 500px;
    margin:0 auto;
    margin-top: 100px;
    padding:30px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 3px 0 #dce0e6;
    border-radius: 4px;
    border: 1px solid transparent;
}

/* ........................................ Donate form */

/* Custom radio buttons designed with the help of crosby roads youtube  */

.payment-card{
    max-height: 35rem;
    min-height: 30rem;
    padding-top: 2rem;
}

.myfieldclass{
    width: 40%;
    min-height: 2rem;
    border: 2px solid black;
    padding: 0.1rem;
}


/* ........................................ Doante page */

.border-arrow{ 
    background-color: transparent;
    width: 0;
    height: 0;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 6rem;

    border: 30px solid transparent;
    border-left-color: black;
}


.border-arrow-down{ 
    background-color: transparent;
    width: 0;
    height: 0;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 2rem;

    border: 30px solid transparent;
    border-top-color: black;
}

.donate-bg{
    background-color: #bed1c4;
    padding: 4rem 2rem 1rem 2rem;
    box-shadow: 20px 20px 20px 20px;
}

.requiredField{
  display: none;
}

.custom-control-input{
  display: none;
}

.custom-control-label{
  text-align: center;
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.35);
  padding: 10px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.5s ease-in;
  background-color: #c5d5cb;
  width: 80%;
  margin-left: 2.4rem;
  border-radius: 15px;
}

.custom-control{
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
  position: relative;
}

input[type=radio]:checked + .custom-control-label{
  border-color: black;
}

#div_id_donate_value{
  width: 100%;
  margin-bottom: 1rem;
}

/* ........................................ about donation section */

.donate-img{
    border-radius: 50%;
}

.text-border{
    border: 1px solid transparent;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
    color: #00203fff;
}

hr.dotted{
    border-top: 5px dashed black;
}

hr.dotted-sml{
    border-top: 5px dashed black;
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* ........................................ Media queries */

@media (min-width: 640px){ 
  .custom-control-label{
      width: 100%;
      margin-left: 0.5rem;
}
}